# Up arrow searches history backward
"\e[A":history-search-backward
# Down arrow searches history forward
"\e[B":history-search-forward

# Vim-style tab completion in bash
TAB: menu-complete
"\e[Z": menu-complete-backward

